body{
    background-color: bisque;
}
h1, p{
    text-align: center;
    padding-bottom: 3%;
}

div{
    display: flex;
    justify-content:space-evenly;
}
img{
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
    width: 70%;
}